<html>
  <head>
    <title> Test</title>
  </head>
  <body>
  <table style="width: 100%;" border="1">
    <tr>
      <td colspan="4"><img src="{{ url_for('video_feed',id=4) }}"></td>
    </tr>
    <tr>
      <td><img src="{{ url_for('video_feed',id=0) }}"></td>
      <td><img src="{{ url_for('video_feed',id=1) }}"></td>
      <td><img src="{{ url_for('video_feed',id=2) }}"></td>
      <td><img src="{{ url_for('video_feed',id=3) }}"></td>
    </tr>
  </table>
  </body>
</html>
